@import url('generales.css');
 /*=============================================
 =            Header          =
 =============================================*/
 header,footer{
    font-family: var(--fuente-principal);

    width: 100%;
    color: var(--color-texto);
    background-color: var(--color-fondo-header);
    padding: 0 1rem;
    font-size: 1.2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 5px black;
 }
 header{
    position: sticky;
    top: 0;
 }
 .logo{
    width: auto;
    height: 80px;
    }

 .logo-menu{
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }
 .nav-menu{
    
    display: none;

}
nav ul li a{
    text-decoration: none;
    color: var(--color-texto);
}
nav ul a:hover{
    text-decoration: underline;
}
nav ul li p:hover{
    background-color: var(--color-btn-hover);
}
.btn-sesion{
    background-color: var(--color-bnt);
    color: black;
}

 /*=============================================
 =            Menu-hamburguesa            =
 =============================================*/
.menu-hamburguesa-btn{
    display: flex;
    
    background-color: var(--color-bnt);
    color: black;
    font-weight: 400;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
}
.menu-hamburguesa-btn:hover{
    background-color: var(--color-btn-hover);
    color: var(--color-texto);
}

.menu-hamburguesa{
      position: fixed;
      top: 9%;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: var(--color-borde-anuncio);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      gap: 1rem;
      padding: 2rem 1rem;
      overflow: hidden;
}

.menu-hamburguesa li{
      
      margin: 1rem 0;
}

.menu-hamburguesa li a {
   font-size: 1.5rem;
}


/*=====  End Header ======*/
 
 
 /*=============================================
 =            Main            =
 =============================================*/
 
 main{
    background-color: var(--color-fondo-main);
    justify-items: center;
    margin-bottom: 2rem;

 }

 main .off{
    display: none;
 }
 
 main .section-anuncios{
    justify-content: center;
    padding: 1rem;

    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 1rem;
 }
 /* Anuncio */

  /*=============================================
 =            Anuncio            =
 =============================================*/
main section{
   display: flex;
   justify-content: center;
}

 main .section-anuncios .anuncio{
    padding: 1rem;
    width: 100%;
    height: 100%;
    background-color: var(--color-fondo-anuncio);
    gap : 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 4px solid var(--color-borde-anuncio);
    overflow: hidden;
    box-shadow: 0 0 5px black;
 }

main .section-anuncios article .anuncio-titulo , .elemento-modal .anuncio-titulo {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      flex-grow: 2;
}

main .section-anuncios article figure{
   flex-grow: 1;
}
.anuncio-btn{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 1rem;
} 

.anuncio-btn li a{
   text-decoration: none;
   color: var(--color-texto-hover);
   background-color: var(--color-bnt);
   border-radius: 20px;
   padding: 0.5rem 1rem;
   box-shadow: 0 0 5px black;
}
.anuncio-btn li a:hover{
   background-color: var(--color-texto-hover);
   color: var(--color-texto);
}

.anuncio-btn li .verMas{
   background-color: var(--color-fondo-btn-azul);
   color: black;
   padding: 0.5rem 1rem;
   border-radius: 20px;
   border: none;
   box-shadow: 0 0 5px black;
}
.anuncio-btn li .verMas:hover{
   background-color: var(--color-texto-hover);
   color: var(--color-texto);
}
 /*=============================================
=            Buscador         =
=============================================*/

 main .buscador{
    width: 90%;
    margin: 0 auto; 
 }
 main .buscador div .h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: black;
 }

 main .buscador div{
   width: 100%;

 }

 main .buscador  div form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    margin-bottom: 1rem;
 }
 
 main .buscador div form input{
    width: 100%;
    padding: 5px;
 }
 
 main .buscador div form select{
    padding: 5px;
    border-radius: 5px;
    width: 100%;
 }

 main .buscador div form button{
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 5px black;
 }

 main .buscador div form button:hover{
    background-color: var(--color-fondo-anuncio);
 }
main .section-publicar{
    text-align: center;
    width: 50%;
 }
 main .section-publicar form{
    padding: 1rem;
    background-color: var(--color-fondo-anuncio);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    font-size: 1.2rem;
 }
 main .section-publicar form input , main .section-publicar form select{
    width: 80%;
    padding: 5px;
 }
 main .section-publicar form .fila-form{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
 } 
 .anuncio-info {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: 1rem;
   padding: 1rem;
   width: 100%;
 }
 .anuncio-texto{
   background-color: white;
   outline: 2px dotted var(--color-borde-anuncio);
   padding: 1rem;
 }
/*=============================================
=                   Cards            =
=============================================*/


main .anuncio-card{
   margin: 0 auto;
   font-size: 1rem;
   padding: 1rem;
   background-color: var(--color-fondo-anuncio);

   display: flex;
   flex-direction: column;
   justify-content: space-between;
   border: 4px solid var(--color-borde-anuncio);
   gap: 1rem;
   overflow: hidden;
}

main .anuncio-card .anuncio-content{
   display: flex;
   flex-direction: column;
   justify-content: start;
   gap: 3rem;
   flex-grow: 1;
}

main .anuncio-card .anuncio-content .anuncio-texto{
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 3rem;
   padding: 0.5rem;
   outline: 2px dotted var(--color-borde-anuncio);
}

main .anuncio-card .anuncio-content figure{
   width: 100%;
   height: 60vh;
   padding: 1rem;
   align-items: center;
   justify-content: center;
   background-color: white;

}
.anuncio-links{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   gap: 2rem;
   margin: 1rem 2rem;
}

.anuncio-links li{
   
   font-size: 1.2rem;
}

/*=============================================
=            panelTools         =
=============================================*/

.panelTools{

   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   gap: 1rem;
   font-size: 1rem;
   background-color: lightgrey;
   width: 100%;
   padding: 1rem;
   border: 2px dotted gray;
   
}
.panelTools p{
   font-size: 1.2rem;
   font-weight: 600;
}

.panelTools li a{
   text-decoration: none;
}
.panelTools li a:hover{
   text-decoration: underline;
}

.error{
   color: red;
   font-weight: 600;
}

.AdminTools{
   display: flex;
   flex-direction: column;
   background-color: lightgrey;
   box-shadow: 0 0 5px black;
   border-radius: 20px;
   
}

.AdminTools button{
   color: black;
   padding:0.5rem;
   box-shadow: 0 0 5px black;
   border: none;
   font-size: 1.2rem;
}

.AdminTools .opciones{

   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   gap: 1rem;
   font-size: 1rem;
   width: 100%;
   padding: 1rem;

}
.AdminTools .opciones li a:hover{
   text-decoration: underline !important;
} 
/*=============================================
=            usuario-card         =
=============================================*/

.usuario-card{
   padding: 1rem;
   background-color: var(--color-fondo-anuncio);
   width: 100%;
   height: 300px;
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 2rem;
   border: 4px solid var(--color-borde-anuncio);
   justify-content: space-around;
   margin-top: 2rem;
}
.usuario-card figure{
   background-color: unset !important;
   outline: none !important;
   width: 200px;
   height: 200px;

}
.usuario-card figure img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 50%;
   
}
.usuario-card .usuario-data{
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 1rem;
}

/*=============================================
=            MODAL         =
=============================================*/

main #modal{
   margin: 0 auto;
   background-color: var(--color-fondo-anuncio);
   position: relative;
   top: 50%;

   border: 4px solid var(--color-borde-anuncio);
   overflow: hidden;
}

main #modal article{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

main #modal article .anuncio-content{
   display: flex;
   flex-direction: column;
   gap: 1rem;
   align-items: end;
   padding: 1rem;
}
main #modal article .anuncio-content h2{
   font-size: 2rem;
   margin-bottom: 0.5rem;
}

main #modal article .anuncio-content .anuncio-texto{
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 3rem;
   padding: 0.5rem;
   outline: 2px dotted var(--color-borde-anuncio);
}

main #modal article figure{
   padding: 1rem;
   max-width: 100%;
   max-height: 100%;
   display: flex;
   justify-content: center;
}

main #modal article figure img{
   height: auto;
   max-width: 100%;
   object-fit: contain;
}

main #modal article .modalCerrar{
   position: absolute;
   color: red;
   top: 3%;
   right: 5%;
   font-size: 2rem;
}

main #modal.eliminar-modal{
   max-width: 40%;
   background-color: lightgray;
   padding: 1rem;
   text-align: center;
}
main #modal.eliminar-modal .lista-modal{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}


main #modal article .modalCerrar:hover{
   color: var(--color-texto-hover);
}

main #modal .elemento-modal .lista-modal{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 1rem;
}

/*         end Modal       */

main #landing{
   margin: 0 auto;
   width: 50%;
   padding: 3rem;
   background-color: var(--color-fondo-anuncio);
   position: fixed;
   top: 20%;

   border: 4px solid var(--color-borde-anuncio);
   overflow: hidden;


}

main #landing .elemento-modal{
   display: flex;
   flex-direction: column;
   gap: 5rem;
}


main #landing .modalCerrar{
   position: absolute;
   color: red;
   top: 3%;
   right: 5%;
   font-size: 2rem;
}
main .section-anuncios .anuncio-add{
   padding: 1rem;
   background-color: var(--color-fondo-anuncio);

   min-height: 300px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 5rem;

}

main .section-anuncios .anuncio-add i{
   
   color: var(--color-texto);
   border: 4px solid var(--color-texto);
   padding: 2rem;

}

main .section-anuncios .anuncio-add i:hover{
   color: var(--color-bnt);
   border-color: var(--color-texto-hover);
}

 /*=============================================
 =            Footer            =
 =============================================*/
 
footer{
    padding: 1rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: center;
}

    footer .texto-footer{
        color: var(--color-texto);
    }
    footer .links-footer{ 
        display: none;
        gap: 1rem;
        
    }

    footer .links-footer li a{ 
        text-decoration: none;
        color: var(--color-texto);
    }

    footer .links-footer li a:hover{
        text-decoration: underline;
    }
   /*=====  End Footer ======*/
 
/*=============================================
=            Section Login           =
=============================================*/
main .section-login{
   margin: 0 auto;
   width: 100%;
   min-width: 400px;
   display: flex;
   padding: 1rem;
   justify-content: center;
   align-items: center;
   background-color: var(--color-fondo-anuncio);
   box-shadow: 0 0 5px black;
}

main .section-login form{ 
   display: flex;
   flex-direction: column;
   text-align: center;
   gap: 2rem;
}

main .section-login form .fila-form{ 
   display: flex;
   gap: 1rem;
   justify-content: space-between;

}

.empresa {

   display: flex;
   flex-direction: column;
   gap: 1rem;
   justify-content: space-between;
}

.empresa *{
   margin-bottom: 1rem;
}

.empresa p{
   font-size: 1.2rem;
   font-weight: 600;
}

fieldset {
   border: none;
   padding: 0;


}

/*=============================================
 =            Normativas            =
 =============================================*/

 .normativas{
   display: flex;
   flex-direction: column;
   gap: 1rem;
   padding: 1rem;

 }
 .normativas .normativa{
   display: flex;
   flex-direction: column;
   gap: 1rem;
   padding: 1rem;
   background-color: var(--color-fondo-anuncio);
   border: 4px solid var(--color-borde-anuncio);
   font-size: 1.2rem;
 }
 .normativas .normativa ul li{
   margin-left: 1rem;
   list-style: disc;
 }


 /*=============================================
 =            Medias            =
 =============================================*/

   
 @media screen and (min-width: 800px){
    header{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .nav-menu{
        
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .menu-hamburguesa-btn , .menu-hamburguesa {
        display: none;
    }
    
    .section-anuncios{
        grid-template-columns: repeat(2, 1fr);
        
    }

    main{
      justify-items: center;
    }
    main .section-anuncios{
        display: grid;
        justify-content: center;
        padding: 1rem;
        grid-template-columns: repeat(auto-fit, 350px);
     }

     main .buscador div form{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1rem;
     }

     main article .anuncio-card{
         width: 75%;
         height: 100%;
         align-self: center;
     }

     main .anuncio-card .anuncio-content{
      display: flex;
      flex-direction: row-reverse;
     }

     main #modal{
      width: 80%;
      max-height: max-content;
      padding: 0.5rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
     }

      main #modal article .anuncio-content{
         display: flex;
         flex-direction: row-reverse;
         justify-content: start;
         gap: 3rem;
      }
      main #modal article .anuncio-content .anuncio-texto{
         margin-top: 2rem;
      }

      .anuncio-links{
         margin-bottom: 2rem;
         flex-direction: row;
      }

      main .section-login{
         width: 60%;
      }

     main #modal article figure{
      justify-content: center;
      max-width: 400px;
      max-height: max-content
     }
       main #modal article figure img{
         max-width: 100%;
         max-height: 100%;
       }

    footer{
       justify-content: space-between;
    }

    footer .links-footer{ 
        display: flex;
        gap: 1rem;
        
    }

    .panelTools{
      margin-top: 1rem;
      width: max-content;
      padding: 2rem;
   }

   .AdminTools{
      position: fixed;
      top: 30%;
      left: 85%;
   }

   .section-usuario{
      margin: 0 auto;
      width: 75%;
   }
    
 }

 