    <header class="header">
        <ul class="logo-menu">
            <img src="./assets/img/logo.png" alt="" class="logo">
            <h1 class="textoLogo">ElTablonDigital</h1>
        </ul>
        <nav class="navegador">
            <ul class="nav-menu">
                <li><a class="btn-sesion btn-login btn" href="./login.html">Iniciar Sesion</a></li>
                <li><a class="btn-sesion btn-registro btn" href="./registro.html">Registrarse</a></li>
            </ul>
        </nav>
        <p class="hamburguesa-menu"><i class="fas fa-bars"></i></p>
    </header>