@import url('./generales.css');
 /*=============================================
 =            Header          =
 =============================================*/
 header,footer{
    font-family: var(--fuente-principal);

    color: var(--color-texto);
    background-color: var(--color-fondo-header);
    padding: 0 1rem;
    font-size: 1.2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 header{
    position: sticky;
    top: 0;
 }
 .logo{
    width: 80px;
    height: 80px;
    }

 .logo-menu{
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }
 .nav-menu{
    list-style: none;
    display: none;

}
.nav-menu li a{
    text-decoration: none;
    color: var(--color-texto);
}
.nav-menu li a:hover{
    text-decoration: underline;
}
.nav-menu li p:hover{
    background-color: var(--color-btn-hover);
}
.btn-sesion{
    background-color: var(--color-bnt);
    color: black;
}
.hamburguesa-menu{
    display: flex;
    cursor: pointer;
    background-color: var(--color-bnt);
    color: black;
    font-weight: 400;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
}
.hamburguesa-menu:hover{
    background-color: var(--color-btn-hover);
    color: var(--color-texto);
}


  /*=====  End Header ======*/
 
 
 /*=============================================
 =            Main            =
 =============================================*/
 
 main{
    background-color: var(--color-fondo-main);
    justify-items: center;
    margin-bottom: 2rem;
 }

 main .off{
    display: none;
 }
 
 main .section-anuncios{
    justify-content: center;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 1rem;
 }
 
 main .section-anuncios .anuncio{
    padding: 1rem;
    background-color: var(--color-fondo-anuncio);
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

 main .section-anuncios .anuncio{
      max-width: 500px;
 }

 main .buscador{
    width: 90%;
 }
 main .buscador h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: black;
 }

 main .buscador form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    margin-bottom: 1rem;
 }
 main .buscador form input{
    width: 100%;
    padding: 5px;
 }
 main .buscador form select{
    padding: 5px;
    border-radius: 5px;
    width: 100%;
 }
 main .buscador form button{
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 5px black;
 }
 main .buscador form button:hover{
    background-color: var(--color-fondo-anuncio);
 }
main .section-publicar{
    text-align: center;
    width: 50%;
 }
 main .section-publicar form{
    padding: 1rem;
    background-color: var(--color-fondo-anuncio);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    font-size: 1.2rem;
 }
 main .section-publicar form input , main .section-publicar form select{
    width: 80%;
    padding: 5px;
 }
 main .section-publicar form .fila-form{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
 } 

main #modal{
   padding: 1rem;
   background-color: var(--color-fondo-anuncio);
   width: 700px;


}
main #modal article{
   padding: 1rem;
   background-color: var(--color-fondo-anuncio);
   width: 600px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;

}

main #modal article figure{
   padding: 1rem;
   max-width: 300px;
   display: flex;
}

main #modal article figure img{
   height: 100%;
   width: 100%;
   object-fit: cover;
}
 /*=============================================
 =            Footer            =
 =============================================*/
 
footer{
    padding: 1rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: center;
}

    footer .texto-footer{
        color: var(--color-texto);
    }
    footer .links-footer{ 
        display: none;
        gap: 1rem;
        list-style: none;
    }

    footer .links-footer li a{ 
        text-decoration: none;
        color: var(--color-texto);
    }

    footer .links-footer li a:hover{
        text-decoration: underline;
    }
   /*=====  End Footer ======*/
 

   
 @media screen and (min-width: 768px){
    header{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .nav-menu{
        list-style: none;
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .hamburguesa-menu{
        display: none;
    }
    .section-anuncios{
        grid-template-columns: repeat(2, 1fr);
    }
    main .section-anuncios{
        justify-content: center;
        padding: 1rem;
    
        display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-auto-rows: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
     }
     main .buscador form{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1rem;
     }

    footer{
       justify-content: space-between;
    }

    footer .links-footer{ 
        display: flex;
        gap: 1rem;
        list-style: none;
    }
    
 }